<!-- 活动风采详情 -->
<template>
  <div id="activityStyleDetail">
    <ComTitle />
    <div class="container">
      <div class="title">
        <p>{{ detail.title }}</p>
      </div>
      <div class="photo">
        <img :src="detail.imgUrl" alt="">
      </div>
      <div>
        <p class="activity_info">
          {{ detail.content }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "activityStyleDetail",
  components: {},
  data() {
    return {
      detail: {},
    };
  },
  computed: {},
  watch: {},
  methods: {},
  activated: {},
  mounted() {
    this.detail = this.$route.params;
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#activityStyleDetail {
  .container {
    background: #f7f8fa;
    padding: 0.2rem;
    .title {
      background: #fff;
      border-radius: 4px;
      padding: 0.2rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
      line-height: 0.75rem;
      font-size: 0.5rem;
      text-align: center;
    }
    .photo {
      border: 1px solid #eee;
      // padding-bottom: 0.5rem;
      margin-bottom: 0.3rem;
      border-bottom: 1px dotted #ccc;
      img {
        width: 100%;
      }
    }
    .activity_info {
      padding: 0.2rem;
      text-indent: 2em;
      background: #fefefe;
      font-size: 0.45rem;
      line-height: 00.68rem;
      color: #666;
    }
  }
  
}
</style>