<!-- 活动风采  -->
<template>
  <div id="activityStyle">
    <ComTitle />
    <div class="container">
      <div class="list_content">
        <ul>
          <li v-for="(item, index) in listData" :key="index" @click="goDetail(item)">
            <p class="title">{{ item.title }}</p>
            <div class="img">
              <img :src="item.imgUrl" alt="">
            </div>
            <div class="">
              
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "activityStyle",
  components: {},
  data() {
    return {
      listData: [
        {
          title: "中共政协桐庐县委员会机关支部委员会",
          content: "活动风采内容介绍",
          imgUrl: require("@/assets/avtivity.jpg")
        },
        {
          title: "中共桐庐县政协经济科技委员会综合支部委员会",
          content: "活动风采内容介绍",
          imgUrl: require("@/assets/avtivity1.jpg")
        },
        {
          title: "中共桐庐县政协城建和人口资源环境委员会综合支部委员会",
          content: "活动风采内容介绍",
          imgUrl: require("@/assets/avtivity2.jpg")
        },
        {
          title: "中共桐庐县政协社会法制和港澳台侨委员会综合支部委员会",
          content: "活动风采内容介绍",
          imgUrl: require("@/assets/avtivity5.jpg")
        },
        {
          title: "中共桐庐县政协文史和教文卫体委员会综合支部委员会",
          content: "活动风采内容介绍",
          imgUrl: require("@/assets/avtivity4.jpg")
        },
      ]
    };
  },
  computed: {},
  watch: {},
  methods: {
    goDetail(val) {
      this.$router.push({
        name: "activityStyleDetail",
        params: val
      })
    }
  },
  mounted() {},
  
};
</script>
<style lang='less' scoped>
#activityStyle {
  .container {
    background: #f7f8fa;
    padding: 0.2rem;
    .list_content {
      li {
        padding: 0.2rem;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 0.3rem;
        .title {
          font-weight: bold;
          font-size: 0.5rem;
          line-height: 0.7rem;
          border-bottom: 1px solid #e3e3e3;
          margin-bottom: 0.3rem;
          color: #ff9e66;
          &::before {
            content: '';
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            background: #ff667a;
            border-radius: 0.2rem;
            margin-right: 0.1rem;
          }
        }
        .img {          
          margin-bottom: 0.5rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }

}
</style>