<!-- 同心阵地 -->
<template>
  <div id="tongxinPosition">
    <ComTitle />
    <div class="container">
      <div class="homeHeader">
        <img :src="bannerImg" alt="" />
        <p class="title-l">抓好党建是本职</p>
        <p class="title-r">不抓党建是失职</p>
      </div>
      <div class="tx_block">
        <van-grid :column-num="3" :gutter="10">
          <van-grid-item
            v-for="(item, index) in list"
            :key="index"
            @click="goDetail(item.url)"
          >
            <div class="img_icon">              
              <img :src="item.icon" />
            </div>
            {{ item.title }}
          </van-grid-item>
        </van-grid>
      </div>
      <div style="height:1rem;width:10rem"></div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {
      bannerImg: require("@/assets/flag3.jpg"),
      list: [
        {
          title: "党建体系",
          icon: require("@/assets/home/djtx.png"),
          url: "/tongxinPosition/partyBuildingSystem",
        },
        {
          title: "党建制度",
          icon: require("@/assets/home/djzd.png"),
          url: "/tongxinPosition/partyBuildingInstitution",
        },
        {
          title: "党建阵地",
          icon: require("@/assets/home/djzhd.png"),
          url: "/tongxinPosition/partyBuildingPosition",
        },
        {
          title: "党史学习",
          icon: require("@/assets/home/dsxx.png"),
          url: "/tongxinPosition/partyHistoryStudy",
        },
        {
          title: "活动风采",
          icon: require("@/assets/home/hdfc.png"),
          url: "/tongxinPosition/activityStyle",
        },
        {
          title: "党建考核",
          icon: require("@/assets/home/djkh.png"),
          url: "/tongxinPosition/partyBuildingAssessment",
        },
      ],
    };
  },
  computed: {},
  watch: {},
  methods: {
    goDetail(val) {
      this.$router.push({
        path: val,
      });
      console.log(val);
    },
  },
  activated: {},
  mounted() {},
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#tongxinPosition {
  .container {
    // width: 100%;
    background: #f7f8fa;
    height: calc(~"100vh - 1.3rem") ;
    .homeHeader {
      // width: 100%;
      text-align: center;
      margin-bottom: 0.3rem;      
      position: relative;
      img {
        width: 100%;
      }
      .title-l {
        position: absolute;
        top: 30%;
        left: 5%;
        text-align: left;
        margin: auto;
        color: #f3f5dd;
        font-weight: bold;
        font-size: 0.8rem;
      }
      .title-r {
        position: absolute;
        top: 50%;
        right: 5%;
        text-align: right;
        margin: auto;
        color: #f3f5dd;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
    .tx_block {
      font-size: 0.4rem;
      .img_icon{
        img{
          width: 1.5rem;
          height: 1.5rem;
        }        
      }
    }
  }
}
</style>