<!-- 党建制度 -->
<template>
  <div id="partyBuildingInstitution">
    <ComTitle />
    <div class="container">
      <!-- <div class="system_title">
        <p>一、党建制度介绍</p>
      </div> -->
      <div class="system_text">
        <p>
          党建制度内容党建制度内容党建制度内容党建制度内容党建制度内容党建制度内容党建制度内容党建制度内容
        </p>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {};
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>
<style lang='less' scoped>
#partyBuildingInstitution {
 
  .container {
    padding: 0.2rem;
    background: #f7f8fa;
     height: calc(~"100vh - 1.7rem");
    .system_title {
      margin-bottom: 0.5rem;
      width: 80%;
      padding: 0.3rem;
      font-size: 1.2rem;
      border-radius: 3px;
      color: #fefefe;
      background: linear-gradient(to right, #ff6600, #f7f8fa);
    }

    .system_text {
      text-indent: 2em;
      font-family: "Microsoft Yahei";
      background: #fff;
      text-align: left;
      line-height: 0.6rem;
      color: #232323;
      padding: 0.2rem;
      border-radius: 5px;
      font-size: 0.4rem;
      margin-bottom: 0.3rem;
    }
  }
}
</style>