<!-- 党建阵地详情 -->
<template>
  <div id="partyBuildingPositionDetail">
    <ComTitle />
    <div class="headerImg">
      <img :src="img" />
    </div>
    <div class="container">
      <div class="title">
        <p>{{ detail.title }}</p>
      </div>
      <div class="introduce">
        <p>基本介绍：</p>
      </div>
      <!-- 所属党员的照片 -->
      <div class="person_photo">
        <div class="person_title">
          <p>党员委员</p>
        </div>
        <!-- <van-row type="flex" justify="" align="center">
          <van-col span="6" v-for="(item, index) in personList" :key="index">
            <div class="photo">
              <van-icon name="photo-o"></van-icon>
            </div>            
            {{ item.name}}
          </van-col>
        </van-row> -->
        <van-grid  :column-num="3" :gutter="6">
          <van-grid-item
            v-for="(item, index) in personList"
            :key="index"
           
            :text="item.name"
          >
            <van-icon name="photo-o"></van-icon>
            <div>{{item.name}}</div>
          </van-grid-item>
          
        </van-grid>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyBuildingPositionDetail",
  components: {},
  data() {
    return {
      detail: {},
      img: require("@/assets/partyPosition.jpg"),
      personList: [
        {
          img: "",
          name: "杨洋洋",
        },
        {
          img: "",
          name: "张大大",
        },
        {
          img: "",
          name: "李丽丽",
        },
        {
          img: "",
          name: "王刚刚",
        },
        {
          img: "",
          name: "张大大",
        },
        {
          img: "",
          name: "李丽丽",
        },
        {
          img: "",
          name: "王刚刚",
        },
      ],
    };
  },
  computed: {},
  watch: {},
  methods: {},
  activated: {},
  mounted() {
    this.detail = this.$route.params;
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#partyBuildingPositionDetail {
  // background: #eee;
  .headerImg {
    margin-bottom: -0.3rem;
    img {
      width: 100%;
    }
  }
  .container {
    background: #f7f8fa;
    padding: 0.2rem;
    .title {
      background: #fff;
      border-radius: 4px;
      text-align: center;
      font-size: 0.5rem;
      line-height: 00.75rem;
      font-weight: bold;
      padding: 0.2rem;
      margin-bottom: 0.3rem;
    }
    .introduce {
      padding: 0.2rem;
      border-radius: 4px;
      margin-bottom: 0.3rem;
      background: #fff;
      height: 4rem;
    }
    .person_photo {
      text-align: center;
      .van-icon{
        font-size: 1rem;
      }
      .person_title {
        width: 100%;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 0.3rem;
        p {
          width: 60%;
          padding-left: 0.3rem;
          line-height: 1.2rem;
          font-size: 0.5rem;
          text-align: left;
          font-weight: bold;
          border-radius: 5px;
          background: linear-gradient(to right, #ff6600, #fff);
        }
      }
      .van-col {
        background: #fff;
        border-radius: 5px;
        padding: 0.36rem;
        // height: 3rem;
        width: 23%;
        .photo {
          font-size: 2rem;
        }
      }
    }
  }
}
</style>