<!-- 党建阵地 -->
<template>
  <div id="partyBuildingPosition">
    <ComTitle />
    <div class="container">
      <div>
        <ul>
          <li v-for="(item, index) in list" :key="index" @click="goDetail(item)">
            <div class="title">
              <div class="tit_icon">
                <img :src="item.imgUrl" alt="">
              </div>
              <p>{{ item.title }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyBuildingPosition",
  components: {},
  data() {
    return {
      list: [
        {
          title: "中共政协桐庐县委员会机关支部委员会",
          imgUrl: require("@/assets/avtivity1.jpg")
        },
        {
          title: "中共桐庐县政协经济科技委员会综合支部委员会",
          imgUrl: require("@/assets/avtivity3.jpg")
        },
        {
          title: "中共桐庐县政协城建和人口资源环境委员会综合支部委员会",
          imgUrl: require("@/assets/avtivity2.jpg")
        },
        {
          title: "中共桐庐县政协社会法制和港澳台侨委员会综合支部委员会",
          imgUrl: require("@/assets/avtivity4.jpg")
        },
        {
          title: "中共桐庐县政协文史和教文卫体委员会综合支部委员会",
          imgUrl: require("@/assets/avtivity5.jpg")
        },
      ],
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    // 跳转详情
    goDetail(val) {
      this.$router.push({
        name: "partyBuildingPositionDetail",
        params: val
      });
    },
  },
};
</script>
<style lang='less' scoped>
#partyBuildingPosition {
  background: #f7f8fa;
  .container {
    padding: 0.2rem;
    li {
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0.2rem;
      background: #fff;
      margin-bottom: 0.4rem;
      .title {
        border-radius: 5px;
        background: rgba(246, 136, 54, 0.1);
        text-align: left;
        font-weight: bold;
        .tit_icon {
          img {
            width: 100%;
          }
        }
        p { 
          font-size: 0.5rem;
          padding: 0.2rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
</style>