<template>
  <div id="home_index">
    <div class="tab_content">
      <router-view></router-view>
    </div>	
    <div class="tab_bottom">
      <ComTabbar/>
    </div>		
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {};
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {},
  activated: {},
  mounted() {},
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#home_index {
  background: #f5f6fa;  
  .tab_bottom {
    height: 1.5rem;
  }
}
</style>