<template>
  <div id="gameData">
    <ComTitle navBarTitle="数据" />
    <div class="tabsData">
      <van-tabs
        offset-top="1.3rem"
        sticky
        border
        type="line"
        v-model="activeName"
        @click="tabsClick"
      >
        <van-tab name="hero" title="英雄数据">
          <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
            <van-list
              v-model="loading"
              :finished="finished"
              finished-text="没有更多了"
              @load="onLoad"
            >
              <li
                class="data_list"
                v-for="(item, index) in heroList"
                :key="index"
              >
                <div class="item_left">
                  <p class="item_name">{{ item.name }}</p>
                  <p class="item_ls">职业：{{ item.type | afterType }}</p>
                </div>
                <div class="item_right">
                  <van-image
                    width="2rem"
                    height="3rem"
                    fit="contain"
                    :src="item.cover"
                  ></van-image>
                </div>
              </li>
            </van-list>
          </van-pull-refresh>
        </van-tab>
        <van-tab name="equip" title="装备数据">
          <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
            <van-list
              v-model="loading"
              :finished="finished"
              finished-text="没有更多了"
              @load="onLoad"
            >
              <li
                class="data_list"
                v-for="(item, index) in equipList"
                :key="index"
              >
                <div class="item_left">
                  <p class="item_name">{{ item.name }}</p>
                  <p class="item_ls">装备属性：{{ item.type | afterEType }}</p>
                  <p class="item_ls">价格：${{ item.price }}</p>
                </div>
                <div class="item_right">
                  <van-image
                    width="2rem"
                    height="3rem"
                    fit="contain"
                    :src="item.icon"
                  ></van-image>
                </div>
              </li>
            </van-list>
          </van-pull-refresh>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>

<script>
import { pageHeroData, pageEquipmentData } from "@/api/api.js";

export default {
  name: "",
  data() {
    return {
      activeName: "hero",
      heroList: [],
      equipList: [],
      refreshing: false, //下拉刷新
      loading: false,
      finished: false,
    };
  },
  props: [],
  filters: {
    afterType(value) {
      let occ = "";
      if (value.length == 2) {
        value &&
          value.forEach((item, index) => {
            if (item == "1") {
              occ += "战士";
            } else if (item == "2") {
              occ += "法师";
            } else if (item == "3") {
              occ += "坦克";
            } else if (item == "4") {
              occ += "刺客";
            } else if (item == "5") {
              occ += "射手";
            } else if (item == "6") {
              occ += "辅助";
            }
            if (index == 0) {
              occ += " / ";
            }
          });
      } else {
        value &&
          value.forEach((item) => {
            if (item == "1") {
              occ += "战士";
            } else if (item == "2") {
              occ += "法师";
            } else if (item == "3") {
              occ += "坦克";
            } else if (item == "4") {
              occ += "刺客";
            } else if (item == "5") {
              occ += "射手";
            } else if (item == "6") {
              occ += "辅助";
            }
          });
      }
      return occ;
    },
    afterEType(value) {
      let ty = "";
      value &&
        value.forEach((item) => {
          if (item == "1") {
            ty += "物理攻击";
          } else if (item == "2") {
            ty += "法术攻击";
          } else if (item == "3") {
            ty += "物理防御";
          } else if (item == "4") {
            ty += "法术防御";
          }
        });
      return ty;
    },
  },
  computed: {},
  watch: {},
  mixins: [],
  methods: {
    fetchData() {
      if (this.activeName === "hero") {
        pageHeroData().then((res) => {
          if (res.data) {
            if (this.refreshing) {
              this.heroList = [];
              this.refreshing = false;
            }
            this.heroList = res.data.list;
            this.loading = false;
            this.finished = true;
          }
        });
      } else {
        pageEquipmentData().then((res) => {
          if (res.data) {
            if (this.refreshing) {
              this.equipList = [];
              this.refreshing = false;
            }
            this.equipList = res.data.list;
            this.loading = false;
            this.finished = true;
          }
        });
      }
    },

    tabsClick(val) {
      this.activeName = val;
      this.fetchData();
    },

    onRefresh() {
      // 清空列表数据
      this.finished = false;
      // 重新加载数据,将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      this.fetchData();
    },
  },
  activated: {},
  mounted() {
    this.fetchData();
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less'>
#gameData {
  height: calc(100vh - 1.5rem) ;
  .tabsData {
    .data_list {
      display: flex;
      justify-content: space-around;
      background: #fff;
      margin-bottom: 20px;
      border-radius: 5px;
      padding: 20px;
      height: 3rem;
      .item_left {
        width: calc(100% - 2.2rem);
        .item_name {
          font-size: 0.6rem;
          font-weight: bold;
          color: #272421;
        }
        .item_ls {
          font-size: 0.4rem;
          color: #636363;
        }
      }
      .item_right {
        margin-left: 0.2rem;
        width: 2rem;
      }
    }
  }
}
</style>