/************ vant公共样式  ************/
  /* tabs 公共样式 */
.van-tabs {	
	.van-tabs__wrap {
		height: 1rem;
		.van-tabs__nav {
			// border-bottom: 0.18rem solid #0c0c0c;
			.van-tab {
				font-size: 0.36rem;
				.van-tab__text {
					height: 100%;
					line-height: 1rem;
				}           
			} 
			.van-tab--active {            
				border-bottom: 0.08rem solid #242c65;
				// background-color: #484b4b;
				color: #242c65;
				font-weight: bold;
			}
			.van-tabs__line {
				width: 0;
				height: 0;
			}
		}        
	} 
	.van-tabs__content {
		padding: 0.3rem;
		color: #242c65;
	}    
}