<template>
  <div id="ComScroll">
		<!-- 可以下拉刷新 -->
		<div class="scroll">
			<div v-if="refreshing">
			<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
				<van-list
					:loading="loading"
					:finished="finished"
					:offset="offset"
					finished-text="没有更多了"
					@load="onLoad"
				>
					<slot></slot>
				</van-list>
			</van-pull-refresh>
		</div>		
		<!-- 不能下拉刷新 -->
		<div v-else>
			<van-list
				:laoding="loading"
				:error.sync="error"
				:offset="offset"
				:finished="finished"
				finished-text="没有更多了"
				error-text="请求失败，点击重新加载"
				@load="onLoad"
			>
				<slot></slot>
			</van-list>
		</div>
		</div>
	</div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {
		};
  },
  props: {
		// 传入的列表数据
		dataList: {
			type: Array,
			default() {
				return []
			}
		},
		// 下拉刷新，默认false
		refreshing: {
			type: Boolean,
			default() {
				return false
			}
		},
		// 加载完成
		finished: {
			type: Boolean,
			default() {
				return false
			}
		},
		// 加载等待
		loading: {
			type: Boolean,
			default() {
				return false
			}
		},
		error: {
			type: Boolean,
			default() {
				return false
			}
		},
		offset: {
			type: [Number, String],
			default() {
				return 300
			}
		}
	},
  computed: {},
  watch: {},
  mixins: [],
  methods: {
		// 滚动条与底部距离小于 offset 时触发load事件 
		onLoad() {
      this.$emit('load')			
    },
    onRefresh() {
      // 清空列表数据
      this.finished = false;

      // 重新加载数据
      // 将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
			console.log(this.loading)
    },
	},
  activated: {},
  mounted() {},
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#ComScroll {
	height: 100%;
	.scroll {
		height: 100%;
		overflow-y: scroll;
	}
}
</style>