<template>
  <div id="ComTabbar">
    <div>
      <van-tabbar v-model="active" route active-color="#242c65">
        <van-tabbar-item
          v-for="(item, index) in barList"
          :key="index"
          :name="'index' + index"
          :to="item.route"
        >
          <span>{{ item.title }}</span>
          <template #icon="props">
            <van-icon
              :name="props.active ? item.active_icon : item.inactive_icon"
            ></van-icon>
          </template>
        </van-tabbar-item>
      </van-tabbar>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {
      barList: [
        {
          title: "首页",
          active_icon: "wap-home",
          inactive_icon: "wap-home-o",
          route: "/home",
        },
        {
          title: "新闻",
          active_icon: "coupon",
          inactive_icon: "coupon-o",
          route: "/news",
        },
        {
          title: "数据",
          active_icon: "comment",
          inactive_icon: "comment-o",
          route: "/gameData",
        },
        {
          title: "我的",
          active_icon: "friends",
          inactive_icon: "friends-o",
          route: "/my",
        },
      ],
      active: "index0",
      // active: 0,
      icon: {
        active: "https://img01.yzcdn.cn/vant/user-active.png",
        inactive: "https://img01.yzcdn.cn/vant/user-inactive.png",
      },
    };
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {},
  activated: {},
  mounted() {},
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#ComTabbar {
  /deep/.van-tabbar__placeholder {
    height: 1.5rem !important;
  }
  /deep/.van-tabbar {
    height: 1.5rem !important;

    .van-tabbar-item {
      font-size: 0.35rem;
      .van-tabbar-item__icon {
        font-size: 0.5rem;
      }
    }
    /deep/.van-tabbar-item--active {
      font-weight: bold;
    }
  }
}
</style>