<template>
  <div class="com_title">
    <div class="container">
      <van-nav-bar :title="title" @click-left="handleReverse">
        <template #left v-if="$route.name!=='home'">
          <van-icon name="arrow-left"></van-icon>
          <span>返 回</span>
        </template>
        <template #right v-if="search" @click="toSearch">
          <van-icon name="search" size="24" />
        </template>
      </van-nav-bar>
    </div>
    <div style="height: 1.3rem"></div>
  </div>
</template>

<script>
export default {
  name: "ComTitle",
  props: ["navBarTitle", "search"],
  data() {
    return {
      title: this.navBarTitle ? this.navBarTitle : this.$route.meta.title,
     
    };
  },
  watch: {
    resetTitle() {
      this.title = this.navBarTitle ? this.navBarTitle : this.$route.meta.title;
    },
  },
  computed: {
    resetTitle() {
      return this.navBarTitle;
    },
  },
  methods: {
    // 返回按钮
    handleReverse() {
      window.history.back();
    },
    // 搜索
    toSearch() {
      this.$emit("toSearch");
    },
  },
  mounted() {
    
  }
};
</script>
<style lang="less" scoped>
.com_title {
  .container {
    width: 100%;
    position: fixed;
    z-index: 1000;
    // margin-bottom: 3.5rem;
  }
  /deep/.van-nav-bar__content {
    height: 1.3rem;
    background: #009999;
    .van-nav-bar__text {
      color: #fff;
      font-weight: bold;
      font-size: 0.51rem;
    }
    .van-nav-bar__title {
      height: 1.3rem;
      line-height: 1.3rem;
      color:#fff;
      font-weight: bold;
      font-size: 0.4rem;
    }
    .van-nav-bar__left {
      color: #fff;
      font-size: 0.4rem;
    }
    .van-icon-arrow-left {
      color: #fff;
    }
    .van-icon-search {
      font-weight: bold;
      color: #fff;
    }
  }
}
</style>
