<!-- 党建考核详情 -->
<template>
  <div id="partyBuildingAssessmentDetail">
    <ComTitle />
    <div class="container">
      <div class="title">
        <p>{{ detail.title }}</p>
      </div>

    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyBuildingAssessmentDetail",
  components: {},
  data() {
    return {
      detail: this.$route.params
    };
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {},
  activated: {},
  mounted() {
    console.log(this.$route.params)
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#partyBuildingAssessmentDetail {
  .container{
    background-color: #F7F8Fa;
    padding: 0.5rem;
    height: calc(~"100vh - 4.5rem");
    .title {
      text-align: center;
      font-size: 1.2rem;
      background: #fff;
      padding: 00.5rem;
      margin-bottom: 0.3rem;
      border-radius: 4px;
      font-weight: bold;
    }
  }
}
</style>