<!-- 党建考核  -->
<template>
  <div id="partyBuildingAssessment">
    <ComTitle />
    <div class="container">
      <div class="system_title">
        <p>一、党建考核制度</p>
      </div>
      <div class="system_text">
        <p>
          党建考核制度党建考核制度党建考核制度党建考核制度党建考核
          制度党建考核制度党建考核制度党建考核制度党建考核制度党建考核制度党建考核制度
        </p>
      </div>
      <div class="system_title">
        <p>二、党建考核情况</p>
      </div>
      <div class="list">
        <ul>
          <li
            v-for="(item, index) in listData"
            :key="index"
            @click="goDetail(item)"
          >
            <div class="list_top">
              <p>{{ item.title }}</p>
            </div>
            <div class="list_bot">
              <p>考核时间：{{ item.time }}</p>
              <p>完成率：{{ item.finish }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyBuildingAssessment",
  components: {},
  data() {
    return {
      listData: [
        {
          title: "**综合党支部",
          time: "2021-08-19",
          finish: "93%",
        },
        {
          title: "**综合党支部",
          time: "2021-08-21",
          finish: "95%",
        },
        {
          title: "**综合党支部",
          time: "2021-08-27",
          finish: "89%",
        },
        {
          title: "**综合党支部",
          time: "2021-09-01",
          finish: "86%",
        },
      ],
    };
  },
  computed: {},
  watch: {},
  methods: {
    // 考核详情
    goDetail(val) {
      this.$router.push({
        name: "partyBuildingAssessmentDetail",
        params: val,
      });
    },
  },
  mounted() {},
};
</script>
<style lang='less' scoped>
#partyBuildingAssessment {
  .container {
    background: #f7f8fa;
    height: calc(~"100vh - 1.7rem");
    padding: 0.2rem;
    .system_title {
      margin-bottom: 0.2rem;
      width: 80%;padding-left: 0.2rem;
      line-height: 0.8rem;
      font-size: 0.4rem;
      border-radius: 3px;
      color: #fefefe;
      background: linear-gradient(to right, #ff6600, #f7f8fa);
    }
    .system_text {
        text-indent: 2em;
        font-family: "Microsoft Yahei";
        background: #fff;
        text-align: left;
        line-height: 0.6rem;
        color: #010101;
        padding: 0.2rem;
        border-radius: 5px;
        font-size: 0.4rem;
        margin-bottom: 0.3rem;
      }
    
    .list {
      li {
        padding: 0.2rem;
        margin-bottom: 0.3rem;
        background: #fff;
        border-radius: 5px;
        .list_top {
          font-size: 0.5rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
        }
        .list_bot {
          display: flex;
          justify-content: space-between;
          color: #696e6f;
          font-size: 0.4rem;
        }
      }
    }
  }
}
</style>