<template>
  <div id="news">
    <ComTitle navBarTitle="新闻" />
    <div class="container">
      <ComScroll>
        <div class="news_list">
          <li
            v-for="(item, index) in newsList"
            :key="item.id"
            @click="handleMoreDetail(item.sourceUrl)"
          >
            <p class="news_title">{{ index + 1 }}、{{ item.title }}</p>
            <p class="news_content">
              {{ item.summary && item.summary.substring(0, 50) }}...
            </p>
            <div class="news_bottom">
              <div class="public_time">
                <span>发布于：</span
                >{{
                  item.pubDate &&
                  common.formatDateTime(item.pubDate, "datetime")
                }}
              </div>
              <div class="info_source">
                <span>来源：</span>{{ item.infoSource }}
              </div>
            </div>
          </li>
        </div>
      </ComScroll>
    </div>
  </div>
</template>

<script>
import data from "../data";
// import { getEpidemicData } from '@/api/tianApi.js'
export default {
  name: "",
  components: {},
  data() {
    return {
      newsList: data[0].news,
    };
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {
    handleMoreDetail(val) {
      // this.go(val)
      window.open(val, "_blank");
    },
  },
  activated: {},
  mounted() {
    // getEpidemicData().then(res => {
    // 	console.log(res)
    // })
    console.log("news", this.newsList);
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#news {
  background: #f5f6fa;
  .container {
    padding: 0.15rem 0.3rem;
    .news_list {
      li {
        padding: 0.2rem;
        border-radius: 0.1rem;
        background: #fff;
        margin-bottom: 0.2rem;
      }
      .news_title {
        line-height: 0.6rem;
        font-size: 0.4rem;
        font-weight: bold;
      }
      .news_content {
        font-size: 00.35rem;
        height: 1.2rem;
        line-height: 0.6rem;
        // &::before {
        // 	content: '';
        // 	display: inline-block;
        // 	font-size: 0.3rem;
        // 	line-height: 0.6rem;
        // }
      }
      .news_bottom {
        display: flex;
        justify-content: space-between;
        height: 0.6rem;
        line-height: 0.6rem;
        span {
          font-weight: bold;
        }
        .public_time {
          color: #312121;
        }
        .info_source {
          color: #292122;
        }
      }
    }
  }
  .loading {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
  }
}
</style>