<!-- 桐心阵地首页 -->
<template>
  <div id='tongxinPosition'>
    <router-view></router-view>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "tongxinPosition",
  components: {},
  data() {
    return {
     
    };
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    
  },
};
</script>
<style lang='less' scoped>
#tongxinPosition {
  
}
</style>