<template>
  <div id="Home">
    <!-- <ComTitle navBarTitle="首页" /> -->
    <div class="container">      
      <div class="home_header">

      </div>
      <!-- <van-image fit="contain" :src="require('@/assets/home/bg-header.jpg')" /> -->
      <!-- 内容 -->
      <div class="content">
        <!-- 了解病毒 -->
        <div class="know_epidemic">
          <p class='know_title'>了解新型冠状病毒</p>
          <ul class="note_list">
            <li>
              <span>一、</span><span>{{ desc.note1 }}</span>
            </li>
            <li>
              <span>二、</span><span>{{ desc.note2 }}</span>
            </li>
            <li>
              <span>三、</span><span>{{ desc.note3 }}</span>
            </li>
            <li>
              <span>四、</span><span>{{ desc.remark1 }}</span>
            </li>
            <li>
              <span>五、</span><span>{{ desc.remark2 }}</span>
            </li>
            <li>
              <span>六、</span><span>{{ desc.remark3 }}</span>
            </li>
          </ul>
        </div>
        <!-- 风险地区 -->
        <div class="risk_area">
          <div class="risk_title">
            <div class="heigh_risk" @click="goDetail(riskarea.high,'高风险地区')">
              高风险地区 <span>{{ riskarea.high && riskarea.high.length }}</span> 
              <van-icon name="share-o" size="0.3rem"/>
            </div>
            <div class="middle_risk" @click="goDetail(riskarea.mid,'中风险地区')">
              中风险地区 <span>{{ riskarea.mid && riskarea.mid.length }}</span> 
              <van-icon name="share-o" size="0.3rem"/>
            </div>
          </div>
        </div>
        <!-- 实时关注 -->
        <div class="real_time_attention">
          <p class="real_top">
            <span class="real_title">实时关注</span>
            <span>更新时间：{{ common.formatDateTime(desc.modifyTime, 'datetime') }}</span>
          </p>
          <div class="scroll">           
            <ul class="real_content">
              <li>
                <span>现存确诊人数：</span>{{ desc.currentConfirmedCount }}
              </li>
              <li><span>累计确诊人数：</span>{{ desc.confirmedCount }}</li>
              <li><span>累计确诊人数：</span>{{ desc.confirmedCount }}</li>
              <li><span>累计治愈人数：</span>{{ desc.curedCount }}</li>
              <li><span>累计死亡人数：</span>{{ desc.deadCount }}</li>
              <li><span>现存无症状人数：</span>{{ desc.seriousCount }}</li>
              <li><span>相比昨天现存确诊人数：</span>{{ desc.currentConfirmedIncr }}</li>

              <li><span>相比昨天累计确诊人数：</span>{{ desc.confirmedIncr }}</li>
              <li><span>相比昨天新增治愈人数：</span>{{ desc.curedIncr }}</li>
              <li><span>相比昨天新增死亡人数：</span>{{ desc.deadIncr }}</li>
              <li><span>相比昨天累计确诊人数：</span>{{ desc.confirmedIncr }}</li>
              <li><span>相比昨天现存无症状人数：</span>{{ desc.seriousIncr }}</li>

              <li><span>昨日确诊人数：</span>{{ desc.yesterdayConfirmedCountIncr }}</li>
              <li><span>相比昨天现存无症状人数：</span>{{ desc.yesterdaySuspectedCountIncr }}</li>
            </ul>
          </div>
        </div>
      </div>      
    </div>
  </div>
</template>

<script>
import data from '../data'
import { getEpidemicData } from '@/api/tianApi.js'

export default {
  name: "",
  components: {},
  data() {
    return {
      newsList: data,
      desc: data[0].desc,
      riskarea:data[0].riskarea,
      imgList: [
        {
          img: require("@/assets/bannerImg.jpg"),
          title: "",
        },
        {
          img: require("@/assets/avtivity2.jpg"),
          title: "",
        },
        {
          img: require("@/assets/avtivity1.jpg"),
          title: "",
        },
      ],
      list: [
        {
          title: "桐江直播",
          icon: require("@/assets/home/djtx.png"),
          url: "/tongxinPosition/partyBuildingSystem",
        },
        {
          title: "桐心阵地",
          icon: require("@/assets/home/djtx.png"),
          url: "/tongxinPosition/home",
        },
        {
          title: "桐心为民",
          icon: require("@/assets/home/djtx.png"),
          url: "/tongxinPosition/partyBuildingSystem",
        },
        {
          title: "桐学课堂",
          icon: require("@/assets/home/djtx.png"),
          url: "/tongxinPosition/partyBuildingSystem",
        },
      ],
    };
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {
    fetchData() {
      getEpidemicData().then(res => {
        console.log(res)
      })
    },   
    // 跳转
    goDetail(val, title) {      
      this.$router.push({
        name: 'riskAreaDetail',
        params: { risk: val, title: title }
      });      
    },

  },
  activated: {},
  mounted() {
    console.log(this.newsList)
    // this.fetchData()
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#Home {
  // background:#10aeb5;
  
  background: #f6f7fa;
  .loading {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
  }
  .home_header {
    height: 4.5rem;
    background: url('../../assets/home/bg-header.jpg') no-repeat center ;
    background-size: cover;
  }
  .banner {
    height: 5rem;
    .my-swipe {
      .img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .content {
    margin: 0.2rem 0;
    padding:0 0.3rem;  
    .know_epidemic {
      background: rgba(36, 44, 101, 0.3);
      padding: 0.13rem;
      border-radius: 6px;
      margin-bottom: 0.3rem;
    }
    .know_title {
      font-size: 0.5rem;
      line-height: 0.8rem;
      font-weight: bold;
      border-bottom: 5px solid #c9c9c9;
      // height: 20px;
    }
    .note_list {
      line-height: 0.5rem;
    }
    .risk_area {
      margin-bottom: 0.3rem;

      .risk_title {
        display: flex;
        justify-content: space-between;
        div {
          width: 48%;
          height: 1rem;
          border-radius: 5px;
          text-align: center;
          line-height: 1rem;
          font-size: 0.45rem;
          color: #f6f7fa;
        }
        .heigh_risk{
          background: #cc310a;
        }
        .middle_risk {
          background: rgb(250, 124, 6);
        }
      }
    }
    .real_time_attention {   
      background: #fff;
      padding: 0.2rem;
      .real_top {
        line-height: 0.6rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #c8c8c8;
        .real_title {
          font-weight: bold;
          font-size: 0.4rem;
        }        
      }
      .real_content {
        height: 5rem;
        li {
          font-size: 0.4rem;
          line-height: 0.6rem;
        }
      }
    }
  }
  .container {
   
  }

  .tj_module {
    font-size: 0.4rem;
    .img_icon {
      // width:;
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
</style>
