<!-- 风险地区数据 -->
<template>
  <div id="riskArea">
    <ComTitle :navBarTitle="title"/>
    <div class="container">
        <ComScroll>
          <ul class="area_list">
            <li v-for="(item, index) in areaList" :key="index">
              <p>{{ item }}</p> 
            </li>
          </ul>
        </ComScroll>
        <!-- <ul class="area_list">
          <li v-for="(item, index) in areaList" :key="index">
            <p>{{ item }}</p> 
          </li>
        </ul> -->
      </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components:{},
  data() {
    return {
      title: '',
      areaList: []
    };
  },
  props: [],
  computed: {},
  watch: {},
  mixins: [],
  methods: {},
  activated: {},
  mounted() {
    console.log(this.$route.params)
    this.title = this.$route.params.title
    this.areaList = this.$route.params.risk
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#riskArea {  
  background: #f6f7fa;  
  .container {    
    // height: ;
    padding:0.15rem 0.3rem;
    .area_list {      
      padding: 00.2rem;
      border-radius: 5px;
      background: #fff;
      li {        
        border-bottom: 1px dashed #c6c6c6;
        p {
          font-size: 0.4rem;
          line-height: 0.8rem;
        }
      }
    }
  }
}
</style>