<template>
	<div id='my'>
		<ComTitle navBarTitle="我的" />
		<div class="container">
			<back></back>

		</div>
		<!-- <div class="loading">还在建设中...</div> -->
	</div>
</template>

<script>
import back from './components/back'
// import axios from 'axios'
export default {
	name:'',
	components: {back},
	data() {
		return {

		}
	},
	props: [],
	computed: {

	},
	watch: {

	},
	mixins: [],
	methods: {
		
	},
	activated: {},
	mounted() {
		// this.$http.get('/home/getlist',{}).then((response) => {
        //         console.log(response);
        //     })
		// axios.get('/api/home/getlist',{}).then((response) => {
        //         console.log(response);
        //     })
	},
	beforeRouteEnter: (to, from ,next) => {
		next(() => {});
	},
	beforeRouteLeave: (to, from, next) => {
		next(() => {});
	},
}
</script>
<style lang='less' scoped>
#my{
	height: calc(100vh - 1.5rem);
	background: #f5f6fa;
	.loading {
		margin-top: 3rem;
		text-align: center;
		font-size: 1rem;

	}
}
</style>