<!-- 活动详情 -->
<template>
  <div id="partyHistoryStudyDetail">
    <ComTitle />
    <div class="container">
      <div class="title">
        <p>{{ detail.title }}</p>
      </div>
      <div class="photo">
        <van-image
          width="100%"
          fit="contain"
          :src="detail.imgUrl"
        />
        <!-- <van-icon name="photo-o"></van-icon> -->
      </div>
      <div>
        <p class="activity_info">
          {{ detail.content }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyHistoryStudyDetail",
  components: {},
  data() {
    return {
      detail: {},
    };
  },
  computed: {},
  watch: {},
  methods: {},
  activated: {},
  mounted() {
    this.detail = this.$route.params;
  },
  beforeRouteEnter: (to, from, next) => {
    next(() => {});
  },
  beforeRouteLeave: (to, from, next) => {
    next(() => {});
  },
};
</script>
<style lang='less' scoped>
#partyHistoryStudyDetail {
  .container {
    background: #f7f8fa;
    padding: 0.2rem;
    .title {
      padding: 0.2rem;
      background: #fefefe;
      border-radius: 5px;
      margin-bottom: 0.3rem;
      font-weight: bold;
      line-height: 0.7rem;
      font-size: 0.5rem;
      text-align: center;
    }
    .photo {
      text-align: center;
      padding-bottom: 0.4rem;
      border-bottom: 1px dotted #ccc;
    }
  }
  .activity_info {
    padding: 0.2rem;
    text-indent: 2em;
    line-height: 0.68rem;
    font-size: 0.45rem;
    color: #666;
  }
}
</style>