<template>
  <div id="partyHistoryStudy">
    <ComTitle />
    <div class="container">
      <div class="list_data">
        <ul>
          <li
            v-for="(item, index) in list"
            :key="index"
            @click="goDetail(item)"
          >
            <div class="list_left fl">
              <!-- <img src="" alt="" v-if="false" /> -->
              <div class="list_img">
                <van-image
                  width="2rem"
                  height="1.2rem"
                  fit="cover"
                  :src="item.imgUrl"
                />
              </div>

              <!-- <van-icon name="photo-o" v-else></van-icon> -->
            </div>
            <div class="list_right fl">
              <p class="list_title">活动：{{ item.title }}</p>
              <div class="list_bot">
                <p class="time">时间：{{ item.time }}</p>
                <p class="status">
                  <span class="underway" v-if="item.status == '0'">进行中</span>
                  <span class="finish" v-else>已结束</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "",
  components: {},
  data() {
    return {
      list: [
        {
          title: "'建党100周年'活动周年庆周年庆周年庆周年庆",
          imgUrl: require('@/assets/avtivitybanner.jpg'),
          content:
            "庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年",
          time: "2021-08-15",
          status: "0",
        },
        {
          title: "'建党100周年'活动周年庆",
          imgUrl: require('@/assets/avtivity1.jpg'),
          content:
            "庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年",
          time: "2021-08-15",
          status: "1",
        },
        {
          title: "'建党100周年'活动周年庆周年庆周年庆周年庆",
          imgUrl: require('@/assets/avtivity2.jpg'),
          content:
            "庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年",
          time: "2021-08-15",
          status: "0",
        },
        {
          title: "'建党100周年'活动周年",
          imgUrl: require('@/assets/avtivity3.jpg'),
          content:
            "庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年",
          time: "2021-08-15",
          status: "1",
        },
        {
          title: "'建党100周年'活动周年庆周年",
          imgUrl: require('@/assets/avtivity4.jpg'),
          content:
            "庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年庆祝建党100周年",
          time: "2021-08-15",
          status: "0",
        },
      ],
    };
  },
  computed: {},
  watch: {},
  methods: {
    goDetail(val) {
      this.$router.push({
        name: "partyHistoryStudyDetail",
        params: val,
      });
    },
  },
  mounted() {},
};
</script>
<style lang='less' scoped>
#partyHistoryStudy {
  .container {
    padding: 0.2rem;
    height: calc(~"100vh - 1.7rem");
    background: #f7f8fa;
    .list_data {
      li {
        padding: 0.2rem;
        border-radius: 5px;
        display: flex;
        margin-bottom: 0.3rem;
        background: #fff;
        .list_left {
          margin-right: 0.2rem;
          padding-right: 0.2rem;
          text-align: center;
          border-right: 1px dotted #ccc;
          .list_img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
        }
        .list_right {
          overflow: hidden;
          width: 100%;
          .list_title {
            font-size: 0.45rem;
            color: #333;
            margin-bottom: 0.2rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
          }
          .list_title::before {
            content: "";
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            margin-right: 0.2rem;
            border-radius: 0.15rem;
            background: #ffaa00;
          }
          .list_bot {
            display: flex;
            justify-content: space-between;
            color: #666;
            font-size: 0.4rem;
            .status {
              font-weight: bold;
              .underway {
                color: #33cc66;
              }
              .finish {
                color: #ff6600;
              }
            }
          }
        }
      }
    }
  }
}
</style>