<!-- 党建体系 -->
<template>
  <div id="partyBuildingSystem">
    <ComTitle />
    <div class="container">
      <div class="system_title">
        <p>一、党建体系介绍</p>
      </div>
      <div class="context">
        <p class="system_text">
          桐庐县政协按照省市、县委的部署与要求，在县委组织
          部门的大力支持下，不断完善政协党的组织体系建设，构建
          起“11158”党建体系，即1个政协党组、1个机关党组、1
          个机关党总支，总支下设五个支部（机关党支部、经科委综
          合党支部、文史和教文卫体委综合党支部、城资委综合党支
          部、社法委综合党支部），4个专委会综合党支部下设8个党
          员活动小组，构建起上下衔接、各尽其责、无缝对接的组织
          体系。同时，为进一步加强专委会综合党支部建设，明确县
          政协相关专委会主任为支部书记，各活动小组的党员组长为
          支部委员，并以活动小组为单位开展党员活动，更好地发挥
          党组织在政协组织中的战斗堡垒作用。
        </p>
      </div>
      <div class="system_title">
        <p>二、党建体系树状图</p>
      </div>
      <div class="tree-chart">
        <div class="show_tree-chart" id="tree_chart" >
          <comTreeChart
            :json="treeData"
            :class="{ landscape: isVertical }"
            :isDetail="isDetail"
            @click-node="handlerClickNode"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import x from ''
export default {
  name: "partyBuildingSystem",
  components: {},
  data() {
    return {
      treeData: {
        partnerName: "中共政协桐庐县委员会党组",
        proportionShares: "100",
        partnerType: 2,
        id: 1,
        childers: [
          {
            partnerName: "中共政协桐庐县委员会机关党组",
            proportionShares: "50",
            partnerType: 1,
            id: 2,
            partnerCode: 1,
            childers: [
              {
                partnerName: "中共政协桐庐县委员会机关党总支",
                proportionShares: "20",
                partnerType: 1,
                id: 4,
                partnerCode: 1,
                childers: [
                  {
                    partnerName: "机关党支部",
                    proportionShares: "20",
                    partnerType: 1,
                    id: 4,
                    partnerCode: 1,
                  },
                  {
                    partnerName: "经科委综合党支部",
                    proportionShares: "20",
                    partnerType: 1,
                    id: 4,
                    partnerCode: 1,
                    childers: [
                      {
                        partnerName: "农业科技组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                      {
                        partnerName: "工业经济组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                    ],
                  },
                  {
                    partnerName: "城资委综合党支部",
                    partnerType: 1,
                    id: 4,
                    partnerCode: 1,
                    childers: [
                      {
                        partnerName: "财金旅贸组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                      {
                        partnerName: "城建环资组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                    ],
                  },
                  {
                    partnerName: "社法委综合党支部",
                    proportionShares: "20",
                    partnerType: 1,
                    id: 4,
                    partnerCode: 1,
                    childers: [
                      {
                        partnerName: "社会法制组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                      {
                        partnerName: "民宗台侨组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                    ],
                  },
                  {
                    partnerName: "文史和教文卫体委综合党支部",
                    proportionShares: "20",
                    partnerType: 1,
                    id: 4,
                    partnerCode: 1,
                    childers: [
                      {
                        partnerName: "文化教育组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                      {
                        partnerName: "医药卫生组党员活动小组",
                        proportionShares: "20",
                        partnerType: 1,
                        id: 4,
                        partnerCode: 1,
                      },
                    ],
                  },
                ],
              },
            ],
          },
        ],
      },
      isVertical: false, // 是否是竖方向,只给最外层的添加
      isDetail: false, // 是否是详情,不可编辑操作
    };
  },
  computed: {},
  watch: {},

  methods: {
    handlerClickNode(val) {
      console.log(val);
      var chart = document.querySelector(".tree-chart");
      console.log(chart.scrollLeft);
      if (val.childers) {
        this.$router.push({
          path: "/tongxinPosition/partyBuildingPosition",
        });
      } else {
        this.$router.push({
          path: "/tongxinPosition/activityStyle",
        });
      }
    },
  },
  mounted() {
    var treeChart = document.querySelector(".tree-chart");
    var showTreeChart = document.querySelector(".show_tree-chart");
    treeChart.scrollLeft = (showTreeChart.offsetWidth-treeChart.offsetWidth)/2;
  },
};
</script>
<style lang='less' scoped>
#partyBuildingSystem {
  .container {
    padding: 0.2rem;
    background: #f7f8fa;
    .system_title {
      margin-bottom: 0.2rem;
      width: 80%;padding-left: 0.2rem;
      line-height: 0.8rem;
      font-size: 0.4rem;
      border-radius: 3px;
      color: #fefefe;
      background: linear-gradient(to right, #ff6600, #f7f8fa);
    }
    .context {
      .system_text {
        text-indent: 2em;
        font-family: "Microsoft Yahei";
        background: #fff;
        text-align: left;
        line-height: 0.6rem;
        color: #232323;
        padding: 0.2rem;
        border-radius: 5px;
        font-size: 0.4rem;
        margin-bottom: 0.3rem;
      }
    }
    .tree-chart {
      width: 100%;
      border-radius: 5px;
      // height: 100rem;
      overflow-x: scroll;
      .show_tree-chart {
        background: #fff;
        width: 100rem;
        margin: auto;
        padding-top: 1rem;
        // margin-left: -50rem;
        table {
          margin: auto;
        }
      }
    }
  }
}
</style>